
.description-content-two{
    margin-top: -24px;
}

.description-content-two h3{
    color: rgb(129, 154, 167);
}

.description-content-two h4{
    margin-top: -20px;
    color: rgb(110, 107, 103);
}