
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



body{
  /* background-color: antiquewhite; */
}

.hero-container{
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  padding-top: 20px;
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: whitesmoke;
}

.hero-content{
  display: flex;
  align-items: center;
  /* background-color: yellow; */
  justify-content: space-around;
  /* gap: 0; */
  
}


/* Nombre y cargo  */
.text-section{
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  font-size: 35px;
  max-width: 700px;
  align-items: flex-start;
  margin-left: 20px;
  
}

/* .text-section button{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.role{
  /* background-col or: aliceblue; */
  margin-top: -20px;
}
/* 

.work-yes{
  display: flex;
  align-items: center;
  justify-content: center;
 
} */

.status-button{
  /* position: absolute; */
  /* margin-top: 380px; */
  border-radius: 10px;
  width: 120px;
  color: rgb(13, 39, 62);
  background-color: rgba(55, 255, 0, 0.751);
  margin: 0%;
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}

.bottom-section{
  margin-top: 5rem;
  text-align: center;
  font-size: 20px;
}


.social-links{
  display: flex;
  justify-content: center;
 gap: 10rem;
}

.image-gorilla{
  width: 500px;
  height: auto;
}
.role span {
  color: rgb(239, 65, 123);
}

h1 span{
  color: rgb(75, 231, 231);
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 580px;
 }