

body{
  /* background-color: antiquewhite; */
}

.content-message{
  /* background-color: rebeccapurple; */
  display: flex;
  position: absolute;
  top: 0;
  font-family: "Schoolbell", cursive;
  font-weight: 400;
}

.content-message span{
  color: rgb(230, 206, 170);
}

.hero-container{
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  padding-top: 20px;
  font-family: "DM Serif Text", serif;
  font-weight: 700;
  font-style: normal;
  color: whitesmoke;
}

.hero-content{
  display: flex;
  align-items: center;
  /* background-color: yellow; */
  justify-content: space-around;
  /* gap: 0; */
  
}


/* Nombre y cargo  */
.text-section{
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  font-size: 35px;
  max-width: 700px;
  margin-left: 70px;
  
}


.role{
  /* background-col or: aliceblue; */
  font-size: 30px;
  margin-top: -40px;
  color: rgb(239, 65, 123);
}
/* 

.work-yes{
  display: flex;
  align-items: center;
  justify-content: center;
 
} */

.status-button{
  /* position: absolute; */
  /* margin-top: 380px; */
  font-family: "DM Serif Text", serif;
  border-radius: 10px;
  border: solid 3px;
  border-color: rgb(15, 95, 11);
  width: 300px;
  color: rgb(178, 239, 214);
  background-color: rgba(12, 38, 5, 0.751);
  margin: 0%;
  font-size: 18px;
  /* font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal; */
}

.bottom-section{
  margin-top: 5rem;
  text-align: center;
  font-size: 20px;
}

.bottom-section span{
  color: rgb(230, 206, 170);
  /* color: rgb(102, 207, 207); */
}

.social-links{
  display: flex;
  justify-content: center;
 gap: 10rem;
}

.image-gorilla{
  width: 500px;
  height: auto;
}

/* .text-section p span {
display: flex;
  justify-content: center;
  align-items: center;
} */
/* 

.role span {
  color: rgb(239, 65, 123);
} */
 
/* h1{
  font-size: 5px;
} */

h1 span{
  color: rgb(102, 207, 207);
}

.button-container{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 580px;
 }

 .icon-button{
  border-radius: 16px;
  width: 54px;
  padding: 5px;
 }