.timeline-container {
  padding: 2rem;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  /* background-color: #4eebc0; */
  margin-top: 200px;
  font-family: "DM Serif Text", serif;
}

.image-content{
  /* background-color: #b14eeb; */
  display: flex;
  flex-direction: column;
  width: 70px;
}

.timeline-title {
  font-size: 2rem;
  color: rgb(215, 255, 255);
  margin-bottom: 2rem;
}



.timeline-content {
  display: flex;
  gap: 20px;
  /* color: rgb(239, 65, 123); */
  /* background-color: rgba(37, 38, 39, 0.477);; */
  border-bottom: solid 1px;
  border-color:  rgb(40, 55, 55);
  padding: 1.5rem;
  margin-top: 20px;
}


.image-work{
  border: solid 1px;
}

.timeline-content h3 {
  color: rgb(230, 206, 170);
     /* color: rgb(239, 65, 123); */
  /* color: rgb(102, 207, 207); */
}

.timeline-content h4 {
  margin: 0.5rem 0;
  font-size: 1rem;
  /* color: rgb(239, 65, 123); */
  /* color: rgb(102, 207, 207); */
  color: rgb(173, 170, 170);
}

.timeline-date {
  font-size: 0.875rem;
  color: #888;
  margin: 0.5rem 0;
}

.timeline-description {
  margin: 0.5rem 0 0;
  line-height: 1.5;
}


.description-content{
 margin-top: -20px;
}



@media (max-width: 768px) {
  .timeline-container {
    padding: 1rem;
  }
  
  .timeline {
    padding-left: 1.5rem;
  }
  
  .timeline-dot {
    left: -1.9rem;
  }
}