
.container-about{
  padding: 2rem;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  /* background-color: #4eebc0; */
  margin-top: 100px;
  font-family: "DM Serif Text", serif;
}

.content-about{
  /* background-color: antiquewhite; */
}

.profile-section{
  /* background-color: aqua; */
  display: flex;
  flex-direction: row-reverse;
  color: rgb(212, 213, 215);
  font-size: 16px;
  /* font-family: 'Lato', sans-serif; */
}
/* .container-info{
  background-color: brown;
  height: auto;
} */

.info-box{
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
  height: 450px;
}

.profile-image-container{
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  /* background-color: blueviolet; */
}



.profile-image-container img {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: solid 4px rgb(169, 212, 236);
  object-fit: cover;
}

.absolute-container{
  /* background-color: azure; */
  position: relative;
  width: 500px; /* ajusta según necesidad */
  height: 450px; /* ajusta según necesidad */
}

.profile-image1{
  top: 40px;
  left: 0;
  z-index: 1;
}

.profile-image2{
  top: 160px; /* ajusta para que quede un poco más abajo */
  left: 200px; /* ajusta para que se sobreponga */
  z-index: 2; /* mayor que img1 para que esté encima */
}
@media (max-width: 768px){
  .profile-section {
    flex-direction: column;
  }

  .info-box {
    /* background-color: blanchedalmond; */
    width: 450px;
  }
}
