.projects-section{
    /* background-color: antiquewhite; */
    font-family: "DM Serif Text", serif;
}

.container{
    /* background-color: rgb(30, 31, 31); */
    padding: 2rem;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
}

.section-title{
    font-size: 2rem;
    color: rgb(215, 255, 255);
    margin-bottom: 2rem;
}

.filter-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .filter-button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .filter-button.active {
    background-color: #333;
  }

  .projects-grid {
  display: grid;
  gap: 1.5rem;  
  }

  .project-card{
    /* background-color: darkgreen; */
    /* background-color: rgb(37, 36, 39); */
    background-color: rgba(48, 42, 57, 0.51);
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.562);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-tecnology{
    /* background-color: sandybrown; */
    width: 400px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  .tecnology{
    /* background-color: blue; */
    padding-top: 5px;
  }

  .tecnology img {
    width: 30px;                /* mismo ancho y alto */
    height: 30px;
    border-radius: 50%;         /* círculo perfecto */
    /* background-color: #96141400; */
    object-fit: contain;        /* para que la imagen no se deforme */
    padding: 5px;               /* opcional: para espacio interno */
  }


.project-img {
  border-radius: 12px;         /* Esquinas redondeadas */
  width: 500px;
  height: 250px;
  object-fit: cover;           /* Muestra la imagen recortada para llenar */
  image-rendering: auto;       /* Controla el escalado (auto está bien en la mayoría) */
  display: block;
  object-position: 10% 60% ;    /* Evita espacios en blanco si está en línea */
}

.project-info{
  /* background-color: #333; */
  padding-left: 12px;
  max-width: 450px;
  height: 200px;
}

.project-title{
  text-align: center;
  color: rgb(129, 154, 167);
  font-size: 30px;
  margin-top: 0;
  /* background-color: aqua; */
}

.project-description{
  color: rgb(212, 213, 215);
  font-size: 16px;
}

@media (min-width: 768px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }